{% extends 'core/base.html' %}

{% block title %}Home | {% endblock %}
{% block content %}

    <section class="post">
        {% for post in posts %}
            <div>
                <a href="{% url 'post_details' post.category.slug post.slug %}">
                {% if post.image %}
                    <figure class="image">
                        <img src="{{ post.image.url }}" alt="">
                    </figure>
                {% endif %}
                <h2 class="date">{{ post.created_at|date:'M-d-Y' }}</h2>

                <h1 class="title">{{ post.title }}</h1>
                <p>{{ post.intro }}</p>
                </a>
            </div>
        {% endfor %}
    </section>
    
{% endblock %}